*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.nav-bar {
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    /* verticaly */
    align-items: center;
    position: sticky;
    top: 0;
}
.logo{
    background-color: white;
    font-size: 0px;
    border-radius: 25px;
    margin-right: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links a:hover {
    color: aqua;
    border-bottom: white 2px solid;
    font-weight: bold;
}
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
#menu-toggle{
    display: none;
}
header{
    background: url(image.jpg) center/cover no-repeat;
    padding: 120px 20px;
    text-align: center;
    position: relative;
}
header h1,p{
    position: relative;
    z-index: 1;
}
section{
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}
section h2{
    margin-bottom: 20px;
    color: rgb(100, 61, 9);

}
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card{
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 2px 2px rgb(177, 103, 6);
    border-radius: 20px;
    width: 300px;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 20px;
    }
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }
    .nav-links li {
        margin-bottom: 20px;
    }
    .menu-icon {
        display: block;
    }
}